[submodule "agnoster-zsh-theme"]
	path = agnoster-zsh-theme
	url = https://github.com/agnoster/agnoster-zsh-theme.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
